<script>
import Header from '@components/header.vue'

export default {
  components: { Header },
}
</script>

<template>
  <Header />

</template>

<style lang="scss" module>
@import '@design';

.container {
  min-width: $size-content-width-min;
  max-width: $size-content-width-max;
  margin: 0 auto;
}
</style>
